Here is the latest data for today's show:
- In <previous_episode_transcript> find the script for the last episode for context.
- In <coverage_pulse> find a pre-processed list of the most widely reported stories.
- In <todays_headlines> find the full list of RSS news grouped by sources.

{% if previous_script %}
<previous_episode_transcript>
# Previous Episode Transcript ({{previous_date}})
{{ previous_script }}
</previous_episode_transcript>
{% endif %}

{% if stories_context %}
<coverage_pulse>
{{ stories_context }}
</coverage_pulse>
{% endif %}

<todays_headlines>
{% for source, headlines in news_feed.items() -%}
{% for item in headlines -%}
<article source="{{ source }}" date="{{ item.date }}">
{{ item.title }}{% if item.description %}
{{ item.description }}{% endif %}
</article>
{% endfor -%}
{% endfor -%}
</todays_headlines>

